
<post-ui [posts]="posts"></post-ui>

<!-- <div class="row" style="margin-top: 15px;">
    <div class="col-md-8">
    	
    </div>
    
    <div class="col-md-4" style="padding-left: 0">
      <div class="panel panel-default">
        <div class="panel-body slide-search">
          <carousel interval="myInterval">
            <slide *ngFor="let item of images"  style="min-height:300px">
              <img class="text-center" src="{{slide.path}}" style=" width: 100% !important">
              <div class="search-info">
                <a style="cursor: pointer">{{slide.post_id}}</a>
                <p>{{slide.name}}</p>
                <button type="button" class="btn btn-default"><span><i class="fa fa-user-plus"></i></span>Add Friend</button>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    	<div class="panel panel-default">
	        <div class="panel-body slide-search">
	        	<carousel [images]="images"></carousel>
	        </div>
	    </div>
    </div>
  </div> -->