.form-row:first-child {
  margin-top: 0;
}
.form-row {
  position: relative;
  margin: 15px 0 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
label.error {
  margin: 5px 0 0;
  font-weight: 400;
  color: #aaa;
}
.form-input.error {
  border-color: #a94442;
}
.form-input.has-icon {
  padding-left: 70px;
}
.form-input {
  border-radius: 4px;
  display: block;
  padding: 6px 12px;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 50px;
  width: 55px;
  font-size: 1.2em;
  line-height: 50px;
  text-align: center;
  color: #999;
}

.form-extend {
  margin: 20px 0;
  position: relative;
}
.form-checkbox input {
  position: absolute;
  left: -9999em;
  top: 0;
}
.form-checkbox-label {
  position: relative;
  float: left;
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.form-checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\f096";
  font-family: 'FontAwesome';
  font-size: 1.1em;
}
.form-checkbox-label a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.form-button.button-register {
  background-color: #3664c6;
}
.form-button {
  border-radius: 4px;
  display: block;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  border: 0;
  background-color: #1376bb;
  color: #fff;
}
.form-social {
  text-align: center;
}
.form-social-header {
  margin: 25px 0;
}
.form-social-header span {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}
.form-social-header span::before {
  left: 100%;
}
.form-social-header span::after {
  right: 100%;
}
.form-social-header span::before, .form-social-header span::after {
  position: absolute;
  top: 50%;
  display: block;
  height: 1px;
  width: 30px;
  background-color: #999;
  content: "";
}

.social-button.original {
  color: #fff;
}
.social-button {
  border-radius: 4px;
  display: inline-block;
  margin: 0 3px;
  height: 36px;
  width: 36px;
  font-size: 1.3em;
  line-height: 36px;
  text-align: center;
}
.social-button.original.facebook {
  background-color: #3b5998;
}
.social-button.original.google {
  background-color: #cf1516;
}
.social-button.original.twitter {
  background-color: #00aced;
}
.social-button.original.linkedin {
  background-color: #007bb6;
}


/*modal login*/
.modal-login .modal-content {
  padding: 20px;
}
.form-logo {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 44px;
}
.button.circle {
  border-radius: 50%;
}
.modal-close {
  position: absolute;
  top: -13px;
  right: -13px;
}
.button-blue {
  background-color: #1376bb;
  border-color: #1376bb;
  color: #fff !important;
}
.button-small {
  height: 26px;
  width: 26px;
  line-height: 24px;
}
.button-only-icon {
  padding: 0;
  text-align: center;
}
.form-checkbox-label {
  position: relative;
  float: left;
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.form-checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\f096";
  font-family: 'FontAwesome';
  font-size: 1.1em;
}
.form-checkbox input:checked + label::before {
  content: "\f046";
}
.form-row::before, .form-row::after, .form-extend::before, .form-extend::after {
  content: "";
  display: table;
}
.form-icon::after {
  position: absolute;
  top: 10px;
  right: 0;
  height: 30px;
  width: 1px;
  background-color: #e4e4e4;
  content: "";
}
.form-label {
  display: block;
  width: 100%;
  font-weight: 400;
}
.form-label.member {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.form-forgot-password {
  float: right;
}
.form-row::after, .form-extend::after {
  clear: both;
}

